@import 'perfect-scrollbar';
@import 'lib';

@theme: #ff9078;

// css3类
.transition(@time) {
    transition: all @time linear;
    -moz-transition: all @time linear;
    -webkit-transition: all @time linear;
    -o-transition: all @time linear;
}

* {
    transition: color .3s linear;
    -moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -webkit-transition: background-color .5s linear;
}

.font-hei() {
    font-family: "Hiragino Sans GB", "ST Heiti", "LiHei Pro Medium", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei";
}
.font-song() {
    font-family: "NSimSun", "STSong", "AR PL SungtiL GB", "TW\-Sung", "SimSun";
}
.font-kai() {
    font-family: "STKaiti", "KaiTi", "AR PL KaitiM GB", "TW\-Kai";
}
.font-code() {
    font-family: "Source Code Pro", "Ubuntu Mono", FreeMono;
}


body, html, ul, ol, li, nav, article, h1, h2, h3 {
    padding: 0;
    margin: 0;
    color: #555;
    .font-hei;
}


h1, h2, h3 {
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

a {
    color: #777;
}

#cover {
    background: #fff url(../img/cover1.jpg);
    background-size: cover;
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    z-index: 20000;
    overflow: hidden;
    #start-reading {
        cursor: pointer;
        position: fixed;
        top: 50%;
        height: 80px;
        line-height: 80px;
        margin-top: -40px;
        font-size: 28px;
        padding: 0 20px;
        right: 0;
        color: #fff;
        background: rgba(0, 0, 0, .5);
        i {
            display: block;
            float: right;
            line-height: 80px;
            margin-left: 20px;
            font-size: 48px;
        }
    }
    #cover-nav {
        color: #fff;
        text-align: center;
        #cover-logo {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }
        position: fixed;
        left: 0px;
        top: 0px;
        width: 200px;
        height: 500px;
        background: url(../img/icons/zju.png) center 50px no-repeat;
        padding-top: 100px;
        h1 {
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            line-height: 36px;
        }
    }
    #cover-bar {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        position: fixed;
        padding: 20px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        max-height: 30px;
        //.transition(.3s);
        li {
            padding: 0;
            color: #eee;
            font-size: 14px;
            line-height: 18px;
            a {
                color: #eee;
                line-height: 21px;
            }
            p {
                font-size: 12px;
                line-height: 16px;
            }
            float: left;
            display: block;
            margin: 0 20px;
            padding-left: 50px;
            @width: ~"25% - 90px";
            width: calc(@width);
            width: -webkit-calc(@width);
            width: -moz-calc(@width);
            background: transparent left top no-repeat;
            &:nth-child(1) {
                background-image: url(../img/icons/icon_b_1.png);
            }
            &:nth-child(2) {
                background-image: url(../img/icons/icon_b_2.png);
            }
            &:nth-child(3) {
                background-image: url(../img/icons/icon_b_3.png);
            }
            &:nth-child(4) {
                background-image: url(../img/icons/icon_b_4.png);
            }
        }
        &:hover {
            //.transition(.3s);
            max-height: none;
        }
    }
}

body {
    overflow: hidden;
}

:focus {
    outline: none;
}
#search {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 0;
    padding-left: 20px;
    border: none;
    background: transparent;
    color: #8a8a8a;
    top: 0;
    height: 36px;
    width: 100px;
}
i.icon-search {
    display: none;
    z-index: 10000;
    position: fixed;
    left: 120px;
    top: 11px;
    font-size: 12px;
}

nav {
    padding-top: 36px;
    height: 100%;
    background: @theme url(../img/icons/icon_b_0.png) no-repeat center 90%;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 19000;
    width: 60px;
  //  .transition(.4s);
    h1, h2 {
        font-weight: normal;
        opacity: 0;
    }
    hr {
        display: block;
        margin: 0 auto;
        text-align: center;
        border: none;
        border-top: 1px solid #fff;
        width: 60px;
        opacity: 0;
        .transition(.2s);
        margin-bottom: 1em;
    }
    #nav-top {
        text-align: center;
        color: #fff;
        line-height: 25px;
        padding-bottom: 12px;
        opacity: 0;
        .transition(.2s);
        font-size: 13px;
        letter-spacing: 5px;
        padding-left: 5px;
        strong {
            font-size: 18px;
        }
    }
    &:hover {
        hr {
            opacity: 1;
            .transition(.2s);
        }
//        .transition(.3s);
        //width: 180px;
        #nav-top {
            .transition(.3s);
            opacity: 1;
        }
        h1, h2 {
            transition: opacity .8s linear;
            -moz-transition: opacity .8s linear;
            -webkit-transition: opacity .8s linear;
            opacity: 1;
        }
        #sidebar {
            .transition(.1s);
            opacity: 0;
        }
    }
    #zju-logo {
        height: 50px;
        background: url(../img/icons/zju.png) center top no-repeat;
    }
    #sidebar {
        .transition(.8s);
        position: fixed;
        top: 40px;
        left: 0px;
        z-index: 2001;
        color: #fff;
        display: block;
        font-size: 15px;
        width: 18px;
        opacity: 1;
        padding: 50px (60 - 18)/2px;
        line-height: 21px;
    }
    h1, h2 {
        margin: 0;
        em {
            font-style: normal;
        }
    }
    h1 {
        line-height: 25px;
        font-size: 15px;
        color: #fff;
        margin-top: 5px;
    }
    h2 {
        display: none;
        color: #fff;
        line-height: 24px;
        font-size: 13px;
    }
    .current {
        font-weight: bold;
    }
    h2.current {
        &:before {
            content: '< ';
        }
        &:after {
            content: ' >';
        }
    }
}
article {
    position: absolute;
    left: 60px;
    top: 0;
    width: 100%;
    height: 100%;
    color: #777;
    float: right;
    font-size: 14px;
    text-align: left;
    width: 10000px;
    div{
        word-break:break-all;
    }    
    em {
        color: @theme;
    }
    p {
        font-size: 13px;
        line-height: 2em;
    }
    h1 {
        font-size: 36px;
        line-height: 72px;
    }
    h3 {
        margin: 0;
        margin-top: 24px;
        padding: 0;
        line-height: 20px;
        font-size: 15px;
        font-weight: bold;
        border-top: 1px solid rgba(0, 0, 0, .05);
        padding-top: 16px;
    }
    section {
        // hide scrollbar x
        .sub-header {
            font-weight: bold;
            line-height: 1em;
            position: relative;
            top: -5px;
        }
        .ps-scrollbar-x {
            display: none;
        }
        background: fade(@theme, 5%);
        float: left;
        width: 300px - 20px*2;
        padding: 0 20px;
        height: 100%;
        position: relative; // for perfect scroll
        overflow: hidden;
        border-right: 1px dashed rgba(0, 0, 0, .15);
        line-height: 2em;
        p:last-child {
            padding-bottom: 100px;
        }
        &.em {
            h2 + p, .sub-header + p {
                margin-top: 2em;
                padding-top: 2em;
                border-top: 1px solid rgba(0, 0, 0, .05);
            }
            width: 600px;
            h2 {
                margin-top: 30px;
                font-size: 26px;
                line-height: 30px;
                font-weight: normal;
            }
            p {
                text-indent: 2em;
            }

        }
        &.sub {
            h2 {
                text-align: center;
                background: fade(@theme, 42);
                color: #fff;
                font-size: 15px;
                font-weight: normal;
                padding: 0;
                line-height: 28px;
                margin: 35px 0 45px 0;
            }
            h3 {
                border: none;
                font-weight: bold;
                font-size: 13px;
                margin: 12px 0;
                display: inline;
            }
            p {
                text-indent: 2em;
            }
            p:first-child {
                display: inline;
            }
        }
        ol {
            list-style: decimal;
            padding-left: 2em;
            li {
                list-style: decimal;
            }
            p {
                text-indent: 0 ! important; 
                padding-bottom: 0 ! important;
            }
        }
        &#comment {
            h1, h2, h3 {
                display: none;
            }
        }
        &#baidu-map {
            padding: 0;
            margin: 0;
            width: 800px;
        }
        &.background {
            padding: 0;
            margin: 0;
            h1, h2 {
                display: none;
            }
            p {
                padding: 0;
                margin: 0;
            }
        }
        &.cover {
            background-size: cover;
            overflow: hidden;
            .mask { // 遮罩层，用于伪造动画
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    margin-left: -20px;
                    z-index: 10;
                    background: #fff;
                  }
            img {
                display: none;
            }
        }
        &.current {
            background: fade(@theme, 3%);
        }
        &.next {
            color: @theme;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            cursor: pointer;
            #next-chapter {
                height: 200px;
                position: absolute;
                top: 50%;
                line-height: 60px;
                font-size: 60px;
                margin: 0;
                padding: 0;
                margin-top: -80px;
                span {
                    font-size: 28px;
                    color: #ccc;
                }
            }
        }
        #section-preface {
            cursor: pointer;
            h2 {
                color: #fff;
                line-height: 80px;
                display: inline-block;
                margin: 0 1em;
                margin-right: 10px;
                position: relative;
                top: -2px;
            }
            position: fixed;
            z-index: 3000;
            top: 50%;
            margin-top: -40px;
            right: 80px;
            font-size: 18px;
            color: #fff;
            height: 80px;
            background: fade(@theme, 50%);
            &:hover {
                background: @theme;
            }
            p {
                padding: 10px 10px 0 0;
                line-height: 18px;
                font-size: 12px;
                color: #fff;
                display: inline-block;
            }
        }
    }
}
#search-results {
    padding-left: 40px;
    width: 600px;
    scroll-y: auto;
}
#prev, #next {
    position: fixed;
    top: 50%;
    width: 80px;
    margin-top: -40px;
    height: 80px;
    right: 0;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    background: fade(@theme, 50%);
    cursor: pointer;
    z-index: 100;
    &:hover {
        background: @theme;
    }
}
#prev {
    border-right: 1px solid #fff;
    right: 80px;
}
#logo {
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
    margin-left: 35px;
    img {
        max-width: 100%;
    }
}


.highlight {
    background-color: yellow;
    transition: background-color 1s linear;
}


.hide-elem {
    padding-bottom: 1em;
    .hide-elem-content {
        display: none;
        font-size: 12px;
        padding-left: 14px;
        // border-left: 5px solid #f2f2f2;
    }
    .hide-elem-title {
        border-bottom: 1px dashed #8a8a8a;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        &:after {
            content: ' [点击展开]';
            color: #8a8a8a;
        }
    }
}
