@import 'font-awesome/font-awesome';
@import 'perfect-scrollbar';

@theme: #558A2E+#222;
@color1: #C9D787 + #222;
@color2: #FFF;
@color3: #FFA2B3;
@color4: #FB479E;

// css3类
.transition(@time) {
    transition: all @time linear;
    -moz-transition: all @time linear;
    -webkit-transition: all @time linear;
    -o-transition: all @time linear;
}


body, html, ul, ol, li, nav, article, h1, h2, h3 {
    padding: 0;
    margin: 0;
    color: #555;
}


h1, h2, h3 {
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

a {
    color: #777;
}

#cover {
    background: #fff url(../img/cover0.jpg);
    background-size: cover;
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    z-index: 20000;
    overflow: hidden;
    #start-reading {
        cursor: pointer;
        position: fixed;
        top: 50%;
        height: 80px;
        line-height: 80px;
        margin-top: -40px;
        font-size: 28px;
        padding: 0 20px;
        right: 0;
        color: #fff;
        background: rgba(0, 0, 0, .5);
        i {
            display: block;
            float: right;
            line-height: 80px;
            margin-left: 20px;
            font-size: 48px;
        }
    }
    #cover-nav {
        color: #fff;
        text-align: center;
        #cover-logo {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }
        position: fixed;
        left: 0px;
        top: 0px;
        width: 200px;
        height: 500px;
        background: url(../img/icons/zju.png) center 50px no-repeat;
        padding-top: 100px;
        h1 {
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            line-height: 36px;
        }
    }
    #cover-bar {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        position: fixed;
        padding: 20px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        li {
            padding: 0;
            color: #eee;
            font-size: 14px;
            line-height: 18px;
            a {
                color: #eee;
                line-height: 21px;
            }
            p {
                font-size: 12px;
                line-height: 16px;
            }
            .transition(.2s);
            float: left;
            display: block;
            margin: 0 20px;
            height: 30px;
            padding-left: 50px;
            @width: ~"25% - 90px";
            width: calc(@width);
            background: transparent left top no-repeat;
            &:nth-child(1) {
                background-image: url(../img/icons/icon_b_1.png);
            }
            &:nth-child(2) {
                background-image: url(../img/icons/icon_b_2.png);
            }
            &:nth-child(3) {
                background-image: url(../img/icons/icon_b_3.png);
            }
            &:nth-child(4) {
                background-image: url(../img/icons/icon_b_4.png);
            }
        }
        &:hover {
            li {
                height: 90px;
            }
        }
    }
}

body {
    opacity: 0;
    overflow: hidden;
}

:focus {
    outline: none;
}
#search {
    z-index: 9999;
    position: fixed;
    left: 0;
    padding-left: 20px;
    border: none;
    background: transparent;
    color: #8a8a8a;
    top: 0;
    height: 36px;
    width: 100px;
}
i.icon-search {
    z-index: 10000;
    position: fixed;
    left: 120px;
    top: 11px;
    font-size: 12px;
}

nav {
    padding-top: 36px;
    border-right: 1px solid #ddd;
    height: 100%;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;
    text-align: left;
    background: #fff;
    z-index: 2000;
    h1, h2 {
        margin: 0;
        em {
            font-style: normal;
        }
    }
    h1 {
        padding-left: 20px;
        line-height: 30px;
        font-size: 16px;
        color: #8a8a8a;
    }
    h2 {
        display: none;
        padding-left: 40px;
        color: #8a8a8a;
        line-height: 30px;
        font-size: 14px;
    }
    .current {
        color: @theme;
    }
}
article {
    position: absolute;
    left: 150px;
    top: 0;
    width: 100%;
    height: 100%;
    color: #777;
    float: right;
    font-size: 14px;
    text-align: left;
    width: 10000px;
    div{
        word-break:break-all;
    }    
    em {
        color: @theme;
    }
    p {
        line-height: 1.5em;
    }
    h1 {
        font-size: 36px;
        line-height: 72px;
    }
    h2 {
        font-size: 24px;
        line-height: 48px;
    }
    h3 {
        margin: 0;
        margin-top: 24px;
        padding: 0;
        line-height: 20px;
        font-size: 18px;
        margin-bottom: 24px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 12px;
    }
    section {
        // hide scrollbar x
        .ps-scrollbar-x {
            display: none;
        }
        float: left;
        width: 300px - 20px*2;
        padding: 0 20px;
        margin-right: 20px;
        height: 100%;
        position: relative; // for perfect scroll
        overflow: hidden;
        border-right: 1px solid #f0f0f0;
        p:last-child {
            padding-bottom: 100px;
        }
        &#comment {
            h1, h2, h3 {
                display: none;
            }
        }
        &#baidu-map {
            padding: 0;
            margin: 0;
            margin-left: -20px;
            width: 800px;
            &.current {
                margin-left: 0;
                .transition(1s);
            }
        }
        &.background {
            padding: 0;
            margin: 0;
            h1, h2 {
                display: none;
            }
            p {
                padding: 0;
                margin: 0;
            }
        }
        &.current {
            background: #fbfbfb;
        }
        &.em {
            width: 600px;
        }
        &.next {
            color: @theme;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            cursor: pointer;
            #next-chapter {
                height: 200px;
                position: absolute;
                top: 50%;
                line-height: 60px;
                font-size: 60px;
                margin: 0;
                padding: 0;
                margin-top: -80px;
                span {
                    font-size: 28px;
                    color: #ccc;
                }
            }
        }
    }
}
#search-results {
    padding-left: 40px;
    width: 600px;
    scroll-y: auto;
}
footer {
    background: #fff;
    bottom: 0;
    font-size: 10px;
    left: 0;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    width: 150px;
    z-index: 2000;
    color: #8a8a8a;
    a {
        color: #8a8a8a;
    }
}
#prev, #next {
    position: fixed;
    top: 50%;
    width: 100px;
    margin-top: -50px;
    height: 100px;
    right: 0;
    color: #fff;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    background: #000;
    cursor: pointer;
    opacity: .5;
}
#prev {
    border-right: 1px solid #fff;
    right: 100px;
}
#logo {
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
    margin-left: 35px;
    img {
        max-width: 100%;
    }
}


.highlight {
    background-color: yellow;
    transition: background-color 1s linear;
}


.hide-elem {
    padding-bottom: 1em;
    .hide-elem-content {
        display: none;
        font-size: 12px;
        padding-left: 14px;
        // border-left: 5px solid #f2f2f2;
    }
    .hide-elem-title {
        border-bottom: 1px dashed #8a8a8a;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        &:after {
            content: ' [点击展开]';
            color: #8a8a8a;
        }
    }
}
