@import 'font-awesome/font-awesome';

@theme: deepskyblue;
@color: #555;

body, html, ul, ol, li, nav, article {
    padding: 0;
    margin: 0;
    color: #555;
}

h1, h2, h3 {
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

a {
    color: #777;
}

body {
    min-height: 1000px;
    overflow-x: hidden;
    opacity: 0;
}

nav {
    border-right: 1px solid #555;
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    h1 {
        margin: 0;
        padding: 0;
        margin-top: 24px;
        font-size: 36px;
        i {
            padding-left: 24px;
        }
    }
    h2 {
        color: @theme;
        padding: 0;
        margin: 36px 0 12px 0;
        line-height: 24px;
        font-size: 24px;
    }
}
article {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 250px;
    padding-right: 50px;
    color: #333;
    float: right;
    padding: 0;
    padding-top: 24px;
    font-size: 14px;
    padding-right: 50px;
    text-align: left;
    p {
        line-height: 1.5em;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        margin: 0;
        margin-top: 24px;
        padding: 0;
        line-height: 20px;
        font-size: 18px;
        margin-bottom: 24px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 12px;
    }
}
footer {
    background: #fff;
    bottom: 0;
    font-size: 12px;
    left: 0;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 2000;
    #logo {
        background: red;
        margin-bottom: 20px;
        height: 100px;
        width: 100px;
        margin-left: 50px;
    }
}
#index {
    margin-top: 50px;
    h2 {
        margin-left: 24px;
    }
    h3 {
        margin-left: 48px;
    }
}

.highlight {
    background-color: yellow;
    transition: background-color 1s linear;
}

#search {
    z-index: 9999;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px;
    border: 1px solid #777;
}

.hide-elem {
    padding-bottom: 1em;
    .hide-elem-content {
        display: none;
        font-size: 12px;
        padding-bottom: 12px;
        padding-left: 14px;
        // border-left: 5px solid #f2f2f2;
    }
    .hide-elem-title {
        border-bottom: 1px dashed #8a8a8a;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        &:after {
            content: ' [点击展开]';
            color: #8a8a8a;
        }
    }
}
